@page "/Admin"
@inject CourseService CourseService
@inject IToastService ToastService
@inject NavigationManager UriHelper
@inject DBResetService DBService
@inject IToastService ToastService


<h3 style="text-align:center">
    Administration
</h3>
<p style="text-align:center">
    Welcome to the Admin Panel
</p>

<br />
<br />

<h3 style="text-align:center"> Please select from the following</h3>

<div style="text-align: center; font-size: 300px; width: 100%;">
    <div class="dropdown" style="display: inline-block; vertical-align: top; font-size:15px;">
        <button class="dropbtn">Add to System</button>
        <div class="dropdown-content">
            <a href="Admin/AddCourse">Add Course</a>
            <a href="Admin/AddDegree">Add Degree</a>
            <a href="Admin/AddPrerequisite">Add Prerequisite</a>
            <a href="Admin/AddCourseToDegree">Add Course to Degree</a>
            <a href="Admin/AddCourseToMajor">Add Course to Major </a>
            <a href="Admin/AddMajorToDegree">Add Major to Degree</a>
            <a href="Admin/AddCourseAvailability">Add Course Availability</a>
        </div>
    </div>
    <div class="dropdown" style="display: inline-block; vertical-align: top; font-size:15px;">
        <button class="dropbtn">Remove from System</button>
        <div class="dropdown-content">
            <a href="Admin/RemoveCourse">Remove Course</a>
            <a href="Admin/RemoveDegree">Remove Degree</a>
            <a href="Admin/RemovePrerequisite">Remove Prerequisite</a>
            <a href="Admin/RemoveCourseFromDegree">Remove Course from Degree</a>
            <a href="#">Remove Course to Major </a>
            <a href="Admin/RemoveMajorFromDegree">Remove Major from Degree</a>
            <a href="Admin/RemoveCourseAvailability">Remove Course Availability</a>
        </div>
    </div>
    <div class="dropdown" style="display: inline-block; vertical-align: top; font-size:15px;">
        <button class="dropbtn">Edit System</button>
        <div class="dropdown-content">
            <a href="Admin/EditCourse">Edit Course</a>
            <a href="Admin/EditDegree">Edit Degree</a>
            <a href="Admin/EditMajor">Edit Major</a>
        </div>
    </div>
</div>

<button @onclick="ResetTestData">Reset Test Data</button>
<button @onclick="ClearDB">Clear Database</button>

@code
{

    private void ResetTestData()
    {
        DBService.ResetDB();
        ToastService.ShowToast(ToastLevel.Success, "Database has been reloaded with test data");
    }

    private void ClearDB()
    {
        DBService.ClearDB();
        ToastService.ShowToast(ToastLevel.Success, "Database has been cleared");
    }
}
