@page "/Admin"

<h3>Administration</h3>

<a href="/Admin/AddCourse">Add Course</a>
<a href="/Admin/AddDegree">Add Degree</a>
<a href="/Admin/AddPrerequisite">Add Prerequisite</a>
<a href="/Admin/AddCourseToDegree">Add a Course to a Degree</a>



@code
{

}
