

.degreePlan {
    width: 100%;
    height: 100%;
    padding: 10px;
    position: relative;
}

.year-row {
    border-style: solid;
    /*border-color: blue;*/
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: 100%;
    border: 4px solid powderblue;
    /*border-image: linear-gradient(45deg, #B0E0E6, #B0E0E6) 1;*/ /* greenyellow*/
    border-bottom-width: thin; /*Control the bottom border*/
}

.semester {
    width: 50%;
    /*border-image: linear-gradient(90deg, turquoise, pink) 100;*/
    /*background-color: lightgrey;*/
    /*padding: 20px;*/
    height: 160px;
    display: flex;
    /*flex-wrap:nowrap;*/
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 5px;
}

.semester-label {
    display: inline-block;
    text-align: center;
    width: 50%;
    padding: 5px;
}

.splitter {
    border: 2px solid powderblue;
    width: 0;
    margin-left: -5px;
    background-color: powderblue;
}

.year-label {
    display: inline-block;
    width: 50%;
    text-align: center;
}


.ColorCodelegend {
    list-style: none;
    display: inline-block;
    border: 4px solid powderblue;
    padding: 5px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.ColorCodelegend li {
        float: left;
        margin-right: 50px;
        font-size: 17px;
}

.LegendSymbol{
    height: 25px;
    margin-right: 5px;
}
.ColorCodelegend span {
    float: left;
    width: 20px;
    height: 25px;
    border: 1px solid black;
    margin: 2px;
}

    .ColorCodelegend .Core {
        background-color: #BEBEBE;
    }

    .ColorCodelegend .Directed {
        background-color: #ADD8E6;
    }

    .ColorCodelegend .Elective {
        background-color: #F2DD60;
    }

    .ColorCodelegend .Compulsory {
        background-color: #659EC7;
    }

    .ColorCodelegend .Error {
        background-color: #FF9696;
    }

    .ColorCodelegend .Warning {
        background-color: #FFCC99;
    }

    .ColorCodelegend .AddElective {
        background-color: #F2DD60;
    }

    .ColorCodelegend .AddDirected {
        background-color: #ADD8E6;
    }

/*ERROR TABLE*/
.ErrorTable {
    margin-top: 30px;
    border: 2px solid black;
    border-radius: 10px;

    width: 100%;
    cursor: pointer;
}

.completedCourses {
    display: inline-flex;
    flex-direction: column-reverse;
    width: 100%;
    min-height: 20px;
}
/*.ErrorTable > td{
    padding: 1px;
}*/

.PreReqError > td {
    border: 1px solid black;
    background-color: #FF9696;
    padding: 5px;
}
.SiblingError > td {
    border: 1px solid black;
    background-color: #FF9696;
    padding: 5px;
}
.PreReqWarning > td {
    border: 1px solid black;
    background-color: #FFCC99;
    padding: 5px;
}


.dropbtn {
    font-size: 14px;
    /*margin: 0 .5em;*/
    border-radius: 2em;
    padding: 0.75em 1.5em;
    cursor: pointer;
    background: none;
    color: purple;
    border: 2px solid;
    letter-spacing: 1px;
    color: purple;
    border: 2px solid purple;
    font-weight: 600;
    transition: 250ms ease-out;
}

    .dropbtn:hover {
        color: white;
        background: purple;
    }

.degreePageButtons {
    display: block;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    position: relative;
}

    .degreePageButtons > button {
        display: block;
        width: 100%;
        text-align: center;
        margin: 10px;
    }

.btnAddYear {
    font-size: 14px;
    /*margin: 0 .5em;*/
    border-radius: 2em;
    padding: 0.75em 1.5em;
    cursor: pointer;
    background: dodgerblue;
    color: white;
    border: 2px solid;
    letter-spacing: 1px;
   /* color: dodgerblue;*/
    border: 2px solid dodgerblue;
    font-weight: 600;
    transition: 250ms ease-out;
}
    .btnAddYear:hover, .btnAddYear:focus {
        color: dodgerblue;
        background: white;
    }

.btnRemoveYear {
    font-size: 14px;
    /*margin: 0 .5em;*/
    border-radius: 2em;
    padding: 0.75em 1.5em;
    cursor: pointer;
    background: red;
    color: white;
    border: 2px solid;
    letter-spacing: 1px;
    /*color: red;*/
    border: 2px solid red;
    font-weight: 600;
    transition: 250ms ease-out;
}

    .btnRemoveYear:hover, .btnRemoveYear:focus {
        color: red;
        background: white;
    }

.btnStartNew {
    font-size: 14px;
    /*margin: 0 .5em;*/
    border-radius: 2em;
    padding: 0.75em 1.5em;
    cursor: pointer;
    color: turquoise;
    border: 2px solid;
    letter-spacing: 1px;
    color: turquoise;
    border: 2px solid turquoise;
    font-weight: 600;
    transition: 250ms ease-out;
}

    .btnStartNew:hover, .btnStartNew:focus {
        color: white;
        background: turquoise;
    }

.jsonSave {
    font-size: 14px;
    /*margin: 0 .5em;*/
    border-radius: 2em;
    padding: 0.75em 1.5em;
    cursor: pointer;
    color: white;
    background: darkgoldenrod;
    letter-spacing: 1px;
    color: white;
    border: 2px solid darkgoldenrod;
    font-weight: 600;
    transition: 250ms ease-out;
}

    .jsonSave:hover {
        color: darkgoldenrod;
        background: white;
    }

.jsonReset {
    font-size: 14px;
    /*margin: 0 .5em;*/
    border-radius: 2em;
    padding: 0.75em 1.5em;
    cursor: pointer;
    background: none;
    color: white;
    background: red;
    letter-spacing: 1px;
    border: 2px solid red;
    font-weight: 600;
    transition: 250ms ease-out;
}

    .jsonReset:hover {
        color: red;
        background: white;
    }

.saveImage {
    font-size: 14px;
    /*margin: 0 .5em;*/
    border-radius: 2em;
    padding: 0.75em 1.5em;
    cursor: pointer;
    background: none;
    color: white;
    background: forestgreen;
    letter-spacing: 1px;
    border: 2px solid forestgreen;
    font-weight: 600;
    transition: 250ms ease-out;
}

    .saveImage:hover {
        color: forestgreen;
        background: white;
    }

.undoButton {
    font-size: 14px;
    /*margin: 0 .5em;*/
    border-radius: 2em;
    padding: 0.75em 1.5em;
    cursor: pointer;
    background: none;
    color: white;
    background-color: #3333ff;
    letter-spacing: 1px;
    border: 2px solid #3333ff;
    border-color: #3333ff;
    font-weight: 600;
    transition: 250ms ease-out;
}
    .undoButton:hover {
        color: #3333ff;
        background: white;
    }
