

.degreePlan {
    width: 100%;
    height: 100%
}

.year-row {
    border-style: solid;
    /*border-color: blue;*/
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: 100%;
    border: 4px solid powderblue;
    /*border-image: linear-gradient(45deg, #B0E0E6, #B0E0E6) 1;*/ /* greenyellow*/
    border-bottom-width: thin; /*Control the bottom border*/
}

.semester {
    width: 50%;
    /*border-image: linear-gradient(90deg, turquoise, pink) 100;*/
    /*background-color: lightgrey;*/
    /*padding: 20px;*/
    height: 160px;
    display: flex;
    /*flex-wrap:nowrap;*/
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 5px;
    padding-bottom: 5px;
}

.vertical-line
{
    border-right-style: solid;
    border-right-color: powderblue;
    border-right-width: 4px;
}
.semester-label {
    writing-mode: vertical-lr;
    text-align: center;
    transform: rotate(180deg);
    user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.year-label {
    display: inline-block;
    width: 50%;
    text-align: center;
}


.ColorCodelegend {
    list-style: none;
    display: inline-block;
    border: 4px solid powderblue;
    padding: 5px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.ColorCodelegend li {
        float: left;
        margin-right: 50px;
        font-size: 17px;
}

.ColorCodelegend span {
        float: left;
        width: 20px;
        height: 25px;
        border: 1px solid black;
        margin: 2px;
}

    .ColorCodelegend .Core {
        background-color: #BEBEBE;
    }

    .ColorCodelegend .Directed {
        background-color: #ADD8E6;
    }

    .ColorCodelegend .Elective {
        background-color: #BCE954;
    }

    .ColorCodelegend .Compulsory {
        background-color: #659EC7;
    }

    .ColorCodelegend .Error {
        background-color: #FF9696;
    }

    .ColorCodelegend .Warning {
        background-color: #FFCC99;
    }

    .ColorCodelegend .AddElective {
        background-color: #BCE954;
    }

    .ColorCodelegend .AddDirected {
        background-color: #ADD8E6;
    }

/*ERROR TABLE*/
.ErrorTable {
    margin-top: 30px;
    border: 2px solid black;
    border-radius: 10px;

    width: 100%;
    cursor: pointer;
}

.completedCourses {
    display: inline-flex;
    flex-direction: column-reverse;
    width: 100%;
    min-height: 20px;
}
/*.ErrorTable > td{
    padding: 1px;
}*/

.PreReqError > td {
    border: 1px solid black;
    background-color: #FF9696;
    padding: 5px;
}
.SiblingError > td {
    border: 1px solid black;
    background-color: #FF9696;
    padding: 5px;
}
.PreReqWarning > td {
    border: 1px solid black;
    background-color: #FFCC99;
    padding: 5px;
}


.dropbtn {
    font-size: 14px;
    /*margin: 0 .5em;*/
    border-radius: 2em;
    padding: 0.75em 1.5em;
    cursor: pointer;
    background: none;
    color: purple;
    border: 2px solid;
    letter-spacing: 1px;
    color: purple;
    border: 2px solid purple;
    font-weight: 600;
    transition: 250ms ease-out;
}

    .dropbtn:hover {
        color: white;
        background: purple;
    }

.degreePageButtons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.btnAdd {
    font-size: 14px;
    /*margin: 0 .5em;*/
    border-radius: 2em;
    padding: 0.75em 1.5em;
    cursor: pointer;
    background: none;
    color: dodgerblue;
    border: 2px solid;
    letter-spacing: 1px;
    color: dodgerblue;
    border: 2px solid dodgerblue;
    font-weight:600;
    transition: 250ms ease-out;
}
    .btnAdd:hover{
        color: white;
        background: dodgerblue;
    }

.btnRemove {
    font-size: 14px;
    /*margin: 0 .5em;*/
    border-radius: 2em;
    padding: 0.75em 1.5em;
    cursor: pointer;
    background: none;
    color: red;
    border: 2px solid;
    letter-spacing: 1px;
    color: red;
    border: 2px solid red;
    font-weight: 600;
    transition: 250ms ease-out;
}

    .btnRemove:hover {
        color: white;
        background: red;
    }

.btnStartNew {
    font-size: 14px;
    /*margin: 0 .5em;*/
    border-radius: 2em;
    padding: 0.75em 1.5em;
    cursor: pointer;
    background: none;
    color: turquoise;
    border: 2px solid;
    letter-spacing: 1px;
    color: turquoise;
    border: 2px solid turquoise;
    font-weight: 600;
    transition: 250ms ease-out;
}

    .btnStartNew:hover, .btnStartNew:focus {
        color: white;
        background: turquoise;
    }

.jsonSave {
    font-size: 14px;
    /*margin: 0 .5em;*/
    border-radius: 2em;
    padding: 0.75em 1.5em;
    cursor: pointer;
    background: none;
    color: forestgreen;
    border: 2px solid;
    letter-spacing: 1px;
    color: forestgreen;
    border: 2px solid forestgreen;
    font-weight: 600;
    transition: 250ms ease-out;
}

    .jsonSave:hover {
        color: white;
        background: forestgreen;
    }

.jsonReset {
    font-size: 14px;
    /*margin: 0 .5em;*/
    border-radius: 2em;
    padding: 0.75em 1.5em;
    cursor: pointer;
    background: none;
    color: red;
    border: 2px solid;
    letter-spacing: 1px;
    color: red;
    border: 2px solid red;
    font-weight: 600;
    transition: 250ms ease-out;
}

    .jsonReset:hover {
        color: white;
        background: red;
    }
