@page "/"
@inject DegreeService degreeService
@inject CourseService courseService
@inject MajorService majorService
@inject SaveState State
@inject IToastService ToastService
@inject IWebHostEnvironment env
@inject NavigationManager NavManager 

@using System.Text
@using Microsoft.AspNetCore.Hosting
@using Newtonsoft.Json; 

<h1 class="heading-for-landing">Welcome to Chronos!</h1>
<InputFile style="display: none;" OnChange="@LoadFiles" accept=".json" id="file-upload" />
<div>
    <section>
        <div class="form-alignment-center index-page">

            <button disabled="@isDisabled" class="new-plan index-button" @onclick="NewPlan">
                Start New Plan
            </button>

            <button disabled="@isDisabled" class="load-plan index-button" onclick="document.getElementById('file-upload').click()">
                Load Existing Plan
            </button>

        </div>
    </section>
</div>


@code {

    bool isDisabled = false;

    private void NewPlan()
    {
        NavManager.NavigateTo("/NewDegreePlan");
    }

    //This will load the data from a json file. 
    private async Task LoadFiles(InputFileChangeEventArgs e)
    {
        isDisabled = true;
        var stream = e.File.OpenReadStream();
        var path = $"{env.WebRootPath}\\{e.File.Name}";

        byte[] buffer = new byte[stream.Length];

        await stream.ReadAsync(buffer);
        string json = Encoding.UTF8.GetString(buffer);

        SaveState newState = JsonConvert.DeserializeObject<SaveState>(json);

        if (newState is not null)
        {
            State.CloneFrom(newState);
            isDisabled = false;

            NavManager.NavigateTo("DegreePlan");
        }
        else
        {
            isDisabled = false;
            ToastService.ShowToast(ToastLevel.Error, "That file is invalid");
        }
    }
}



