.index-page {
    padding-top: 200px;
    padding-bottom: 400px;
    display: flex;
    position: relative;
    height: 750px;
    margin: auto;
    justify-content: center;
}

.index-button
{
    width: 300px;
    height: 150px;
    font-size: 25px;
    display: inline-block;
    position: relative;
    margin: 15px;
    border-radius: 30px;
}