
.heading-for-landing {
    text-align: center;
}

div.form-alignment-center {
    padding-bottom: 2em;
    padding-left: 18%;
    padding-right: 18%;
    position: relative;
    text-align: center;
}

div.form-alignment-right {
    position: absolute;
    right: 0.75em;
    display: block;
    width: 500px;
    height: 200px;
    margin-bottom: 5em;
}

div.additional-information {
    position: relative;
    display: block;
    padding-top: 100px;
}

div.login-center {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

div.form-alignment-left-search {
    position: relative;
    width: 80%;
}

div.form-alignment-left-sem {
    position: relative;
    display: block;
    align-items: start;
    margin-bottom: 5em;
}

div.center-button {
    text-align: center;
    margin: auto;
    padding: 2em;
}

.degree-selection {
    height: 2em;
    width: 10em;
    border: 1px solid #26b050;
}

div.degree-div {
    padding-bottom: 2em;
}

select.semester-selection {
    height: 2em;
    width: 20em;
    border: 1px solid #26b050;
}

div.semester-div {
    padding-bottom: 2em;
}

div.checklistColumns {
    column-count: 3;
}

section.admin-login {
    display: none;
}

button.button-for-admin {
    border: 3px solid #26b050;
    text-align: center;
    margin: auto;
    height: 20%;
    width: 30%;
} 

.column-left {
    float: left;
    width: 50%;
    padding-bottom: 2em;
}

.column-right {
    float: right;
    width: 50%;
    padding-bottom: 2em;
}

.submit-button {
    text-transform: uppercase;
    padding: 20px 60px;
    border-radius: 150px;
    display: inline-block;
    position: relative;
    border-width: 0;
    text-align: center;
    transition: all .6s;
    color: white;
}

.submit-button-colour {
    background-color: #59007F;
}

.submit-button:hover 
{
    box-shadow: 1px 4px 8px rgba(0,0,0,0.2);
    transform: translateY(-2px);
}

.submit-button:active 
{
    box-shadow: 1px 4px 8px rgba(0,0,0,0.2);
    transform: translateY(-1px);
}

.submit-button-animation 
{
    animation: TheButtonMoves 1s ease-out .6s;
}


.submit-button::after {
    content: "";
    text-transform: uppercase;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 20px 60px;
    border-radius: 150px;
    display: inline-block;
    background-color: #59007F;
    text-align: center;
    z-index: -1;
    transition: all .6s;
    color: white;
}

.submit-button-gradient::after {
    background-color: #59007F;
}

.submit-button-animation:hover::after 
{
    transform: scaleX(1.6) scaleY(1.8);
    opacity: 0;
}



@keyframes TheButtonMoves
{
    0%
    {
        opacity: 0;
        transform: translateY(50px);
    }
    100%
    {
        opacity: 1;
        transform: translateY(0);
    }
}