
.Tile {
    border-style: solid;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
    height: 100%;
    transition: .2s;
    /*Makes it so items will each be given the same space*/
    width: 0;
    max-width: 40%;
    flex: 1 1 0;
    margin: 5px 5px 5px 5px;
    
    

}

    .Tile:hover {
        /*height can be put here when needed*/
        transition: .2s;
        transform: scale(1.05);
    }

.CompletedCourse{
    display: flex;
    width: 100%;
}

.CompletedCourse:hover {
    background-color: grey;
}


.courseDes {
    visibility: hidden;
}

.Tile:hover .courseDes {
    visibility: visible;
}

.Tile:hover .courseName {
    font-weight: 600;    
}

.Tile:hover .courseType {
    font-weight: lighter;
    font-size: 15px;
}


.droppable {
    background-color: greenyellow;
}

.Elective {
    background-color: #BCE954;
}

.Directed {
    background-color: #659EC7;
}

.Core {
    background-color: #808080;
}

.Error {
    background-color: #C38EC7;
}
.Warning {
    background-color: #FFCC99
}

.AddElective {
    background-color: #ffffff;
    border-color: #000000;
    color: #F2DD60;
}

.AddDirected {
    background-color: #ffffff;
    border-color: #000000;
    color: #458EE7;
}
