
.Tile {
    border-style: solid;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
    align-content:center;
    height: 100%;
    transition: .2s;
    /*Makes it so items will each be given the same space*/
    width: 0;
    max-width: 40%;
    min-width: 110px;
    flex: 1 1 0;
    margin: 5px 5px 5px 5px;

    position: relative;
}
    .Tile:hover {
        /*height can be put here when needed*/
        transition: .2s;
        transform: scale(1.05);
    }

    .Tile:hover .courseDes {
        visibility: visible;
        text-overflow: none;
    }

    .Tile:hover .courseName {
        font-weight: 900;
    }

.CompletedCourse{
    display: flex;
    width: 100%;
}

.CompletedCourse:hover {
    background-color: grey;
}


.courseDes {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;


    position: absolute;
    visibility: hidden;
}

.courseCode {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;


    position: absolute;
    top: 5px;
}


.droppable > .courseCode {
    background-color: greenyellow;
}

.Elective > .courseCode {
    background-color: #BCE954;
}

.Directed > .courseCode {
    background-color: #659EC7;
}

.Core > .courseCode {
    background-color: #808080;
}


.Error > .courseCode {
    background-color: #FF9696
}
.Warning > .courseCode {
    background-color: #FFCC99
}

.AddElective > .courseCode {
    background-color: #ffffff;
    border-color: #000000;
    color: #F2DD60;
}

.AddDirected > .courseCode {
    background-color: #ffffff;
    border-color: #000000;
    color: #458EE7;
}
