
.Tile {
    display: inline-block;
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
    height: 100%;
    transition: .2s;
    /*Makes it so items will each be given the same space*/
    width: 0;
    max-width: 25%;
    min-width: 110px;
    flex: 1 1 0;
    margin: 5px 5px 5px 5px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #ffffff;
    /*--x: 100%;
    --y: 100%;
    border: 3px solid transparent;
    background: linear-gradient(white, white) padding-box, radial-gradient(farthest-corner at var(--x) var(--y), #00C9A7, #845EC2 ) border-box;*/
}
.DoubleUnits {
    flex-grow: 5;
    max-width: calc(50%);
}
.Tile:hover {
    /*height can be put here when needed*/
    transition: .2s;
    transform: scale(1.05);
    cursor: grab;
}
.Tile:active{
    cursor: grabbing;
}

    .Tile:hover .courseDes {
        visibility: visible;
        text-overflow: none;
    }

    .Tile:hover .courseName {
        font-weight: 900;
    }

.CompletedCourse{
    display: flex;
    width: 100%;
}

.CompletedCourse:hover {
    background-color: grey;
}


.courseDes {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;


    text-overflow: none;
    position: absolute;
    visibility: hidden;
}


.Tile:hover .courseName {
    font-weight: 900;
}


.courseCode {
    width: 100%;
    text-align: center;
/*    position: relative;*/
}


.droppable > .courseCode {
    background-color: greenyellow;
}

.Elective > .courseCode {
    background-color: #BCE954;
}

.Directed > .courseCode {
    background-color: #ADD8E6;
    /* color-before: #659EC7;*/
}

.Core > .courseCode {
    background-color: #BEBEBE;
    /*Color-before: #808080;*/
}


.Compulsory > .courseCode {
    background-color: #659EC7;
}


.Error > .courseCode {
    background-color: #FF9696
}
.Warning > .courseCode {
    background-color: #FFCC99
}



.AddDirected, .AddElective {
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.AddElective > .plusSign {
    /*background-color: #ffffff;*/
    /* border-color: #000000;*/
    color: #F2DD60;
}

.AddDirected > .plusSign {
    /*background-color: #ffffff;*/
    /*border-color: #000000;*/
    color: #458EE7;
    
}

.plusSign {
    border-radius: 50%;
    border: 4px solid black;
    font-weight: 900;
    width: 100px;
    height: 100px;

    font-size: 50px;


    margin: auto;
}

/*Trash Button*/
.TrashButton {
    position: absolute;
    right: 0px;
    top: 0px;
    background-color: red;
    opacity: 0.75;
    visibility: hidden;
    z-index: 5;
    width: 22px;
    height: 22px;
    border-radius: 10px;
    margin-top: 7px;
    margin-right: 2px;
    text-align: center;
    vertical-align: middle;
    cursor:pointer;
}

    .TrashButton:hover {
        opacity: 1;
    }
.Tile:hover .TrashButton {
    
    visibility: visible;
}



/*Error Symbol Management*/

.ErrorSymbol {
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: 10;
    
}
    .ErrorSymbol:hover {
        cursor: pointer;
    }
.ErrorTip{
    height: 25px;
    width: 25px;
    background-color: red;
}

.WarningTip {
    height: 25px;
    width: 25px;
    background-color: yellow;
}

.SiblingTip{
    height: 25px;
    width: 25px;
    background-color: blue;
}

.Tooltip {
    /*position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;*/ /* If you want dots under the hoverable text */
    z-index: 30;
}
.ToolTipText{
    z-index:30;
}

    /* Tooltip text */
    .Tooltip .ToolTipText {
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        /* Position the tooltip text - see examples below! */
        position: absolute;
        
    }

    /* Show the tooltip text when you mouse over the tooltip container */
    .Tooltip:hover .ToolTipText {
        visibility: visible;
    }