@inject DegreeCourseService DegreeCourseService
@inject DegreeService DegreeService

<div style="width: 100%; height: 100%" class="degreeplan">
    <CascadingValue Value="this">
        @if (BlockedCourses == null)
        {
            <p>Loading...</p>
        }
        else
        {
            for (int j = 0; j < (BlockedCourses.Count + 1) / BlocksPerYear; j++)
            {
                <div style="display: block;">
                    @for (int i = 0; i < BlocksPerYear; i++)
                    {
                        if (i + (j * BlocksPerYear) >= BlockedCourses.Count)
                        {
                            continue;
                        }

                        <div style="display: inline-block; width: @($"{100/BlocksPerYear}%"); height: 150px;" class="year-row">
                            <TileSlot Courses="@BlockedCourses[i+(j*BlocksPerYear)]" />
                        </div>
                    }
                </div>
            }
        }
    </CascadingValue>
</div>


@code {
    [Parameter] public int BlocksPerYear { get; set; } = 2;
    [Parameter] public int UnitsPerBlock { get; set; } = 40;
    [Parameter] public int DegreeID { get; set; }
    [Parameter] public Major Major { get; set; }

    private Degree Degree;
    private List<List<Course>> BlockedCourses;
    private int blockSize = 2;
    public Course DragPayload { get; set; }
    public List<Course> DragFrom { get; set; }

    private List<int> blockCount { get; set; }

    public async Task UpdateDegreePlanAsync(List<Course> dragTo, Course draggedOn)
    {
        Utilities.SwapValues(BlockedCourses, DragPayload, draggedOn);
        StateHasChanged();
    }

    protected override async Task OnParametersSetAsync()
    {
        Degree = await DegreeService.GetDegreeAsync(DegreeID);
        var courses = await DegreeCourseService.GetCoreCoursesAsync(DegreeID);

        int countPerBlock = UnitsPerBlock / 10;

        Queue<Course> cache = new Queue<Course>(courses.OrderBy(c => c.CourseCode[4..]));

        if (BlockedCourses == null)
        {
            BlockedCourses = new List<List<Course>>();
            while (cache.Count > 0)
            {
                List<Course> tempCourses = new List<Course>();
                int loopCount = Math.Min(cache.Count, countPerBlock);
                for (int j = 0; j < loopCount; j++)
                {
                    Course tc = cache.Dequeue();
                    tempCourses.Add(tc);

                    Console.WriteLine(tc.CourseCode);
                }
                BlockedCourses.Add(tempCourses);
            }
        }
    }
}
