

<div class="@hide @expand Tile" style="@style" @ondrop="HandleDrop"
            @ondragenter="HandleDragEnter"
            @ondragleave="HandleDragLeave" ondragover="event.preventDefault()">
    
</div>




@code {
    //[Parameter] public TileData payload { get; set; }

    [Parameter] public bool show { get; set; }
    //[CascadingParameter(Name = "payload")] bool payload { get; set; }
    [CascadingParameter] TileSlot Slot { get; set; }
    [CascadingParameter] DegreePlan Plan { get; set; }

    private string expand = "";
    //Hiding = Ready for animation
    private string hide = "Hiding";
    //Hidden = Element not rendered
    private string style;

    protected override void OnParametersSet()
    {
        if (show == true)
        {
            //Show the tile
            style = "";
            hide = "";



        }
        else
        {
            if (hide != "Hidden")
            {
                hide = "Hiding";
            }



            //await Task.Delay(510);
            //hide = "Hidden";
        }
    }


    // Handling Dropping
    private void HandleDrop(){
        style = "display:none;";
        //Unrender element
        StateHasChanged();
        Plan.movePayloadTo(Slot);
        hide = "Hiding";


    }
    private void HandleDragEnter(){
        //Signal you are over it
        expand = "Expand";

    }
    private void HandleDragLeave()

    {
        expand = "";
    }


}
