<div class="fillHeight">
    <a>
        <img id ="header_logo" class="fillHeight" src="/Images/Chronos Logo.svg" />
    </a>
</div>


<div class="fillHeight">
    @* Eventually turn this into a button *@
    <a>
        <img id="settings_button" class="fillHeight" src="/Images/settings.svg" />
    </a>
</div>

@code {

}
