

/*Header*/
.fillHeight{
    height:100%;
}
#header_logo {
    padding-top: 1em;
}
#settings_button {
    /*padding-top: 1em;*/
    padding: 10%;
}

#settings_button:hover {
    animation: spin 800ms ease-in-out 1;
}

@keyframes spin {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

