@inject NavigationManager NavManager
<div class="fillHeight">
    <a href="/">
        <img id="header_logo" class="fillHeight" src="/images/Chronos Logo.svg" />
    </a>
</div>
<div class="fillHeight">
    <img id="settings_button" class="fillHeight" src="/images/settings.svg" @onclick="() => hideAdminPanel = !hideAdminPanel" />
    @* Eventually turn this into a button *@

    @if (!hideAdminPanel)
    {
        <div id="adminPanel">
            <p>Please insert admin password</p>
            <input style="width:100%;"type="password" @bind="adminTextInput" />

            <p style="color:red">@errorText</p>

            <button @onclick="ToAdmin" class="adminSubmitButton">Submit</button>
        </div>
    }
</div>






@code {
    private bool hideAdminPanel = true;
    private string adminTextInput;
    private string adminPassword = "admin";
    private string errorText = string.Empty;

    private void ToAdmin()
    {
        if (adminTextInput is not null && adminTextInput.Equals(adminPassword))
        {
            //Move page
            NavManager.NavigateTo("/Admin");
            hideAdminPanel = true;
            adminTextInput = string.Empty;
        }
        else
        {
            errorText = "Incorrect Password";
        }
    }
}
