@inherits LayoutComponentBase

<BlazoredToasts Position="ToastPosition.BottomRight"
                Timeout="10"
                IconType="IconType.FontAwesome"
                ErrorIcon="fa fa-bug"
                SuccessClass="success-toast-override"
                SuccessIcon="fa fa-thumbs-up"
                />

<div class="page">
    <div class="main">
        <div class="top-row px-4 auth">
            <HeaderDisplay />
        </div>
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

<hr style="margin-top:0px; margin-bottom:0px;" />

<footer>
    <div class="container-fluid bg-grey">
        <h2 class="text-center">CONTACT</h2>
        <div class="row">
            <div class="col-sm-5">
                <p>Contact us and we'll get back to you within 24 hours.</p>
                <p><span>&#8618;</span> Newcastle, NSW</p>
                <p><span>&#x260E;</span> +0299999999</p>
                <p><span>&#9993;</span> contactus@chronos.com</p>
            </div>
            <div class="col-sm-7">
                <div class="row">
                    <div class="col-sm-6 form-group">
                        <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
                    </div>
                    <div class="col-sm-6 form-group">
                        <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
                    </div>
                </div>
                <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <button class="btn btn-default pull-right" style="border: 2px solid skyblue" type="submit">Send</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr />
    <p style="margin: 10px;">©2020-2021 copyright-Chronos.com. All rights reserved.</p>
</footer>
