@inherits LayoutComponentBase

<BlazoredToasts Position="ToastPosition.BottomRight"
                Timeout="10"
                IconType="IconType.FontAwesome"
                ErrorIcon="fa fa-bug"
                SuccessClass="success-toast-override"
                SuccessIcon="fa fa-thumbs-up"
                />

<div class="page">

    <div class="main">
        <div class="top-row px-4 auth">
            <HeaderDisplay/>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

<hr />

<footer>
    <p style="margin: 10px;">©2020-2021 copyright-Chronos.com. All rights reserved.</p>
</footer>
