.Tile {
    border-style: solid;
    border-radius: 20px;
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 80%;
    transition: .2s;


    /*Makes it so items will each be given the same space*/
    flex-basis: 0;
}

        .Tile:hover {
            transition: .2s;
            transform: scale(1.1)
        }

    .droppable {
        background-color: greenyellow;
    }

    .Elective {
        background-color: #F2DD60
    }

    .Directed {
        background-color: #458EE7
    }

    .Core {
        background-color: #808080
    }

    .Error {
        background-color: #FF9696
    }

    .Warning {
        background-color: #FFCC99
    }

    .AddElective {
        background-color: #ffffff;
        border-color: #000000;
        color: #F2DD60;
    }

    .AddDirected {
        background-color: #ffffff;
        border-color: #000000;
        color: #458EE7;
    }

