@page "/Admin/AddDegree"

@inject DegreeService DegreeService
@inject IToastService ToastService

<div class="adminform">
    <EditForm OnSubmit="SubmitDegree" Model="degree">
        <h4>Degree Name</h4>
        <InputText @bind-Value="degree.Name" placeholder="Enter Degree Name" required />
        <h4>Amount Of Units</h4>
        <InputNumber step="20" @bind-Value="degree.UnitLength" />
        <h4>Domesticality</h4>
        <ul class="inputGroup">
            <li>
                <input id="r1" type="checkbox" name="checkbox" @bind="degree.InternationalsAllowed">
                <label for="r1">International Students Accepted</label>
            </li>
        </ul>
        <h4>How many Elective Units?</h4>
        <InputNumber step="10" @bind-Value="degree.ElectiveUnits" />

        <button type="submit" class="submit-button submit-button-colour submit-button-animation">Add Degree</button>
    </EditForm> 
</div>
@code 
{
    private Degree degree;
    private Degree NewDegree() => new Degree() { UnitLength = 240 };

    protected override void OnInitialized()
    {
        degree = NewDegree();
    }

    private async Task SubmitDegree()
    {
        bool degreeError = false;
        if (await DegreeService.DoesDegreeExist(degree.Name))
        {
            degreeError = true;

            ToastService.ShowToast(ToastLevel.Error, "A degree with this name already exists in the Database.");
        }
        if (degree.UnitLength < 240)
        {
            degreeError = true;
            ToastService.ShowToast(ToastLevel.Error, "A degree must be a minimum of 3 years.");
        }

        if (!degreeError)
        {
            await DegreeService.AddDegreeAsync(degree);
            ToastService.ShowToast(ToastLevel.Success, "Added to the database!");
            degree = NewDegree();
        }
    }
}
