@page "/Admin/RemoveCourse"

@inject CourseService CourseService
@inject IToastService ToastService

<div class="adminform">
    <h4>Select a Course</h4>
    <BlazoredTypeahead SearchMethod="SearchCourses" @bind-Value="SelectedCourse" placeholder="Please search for the course to be removed..." EnableDropDown="true" ShowDropDownOnFocus="true">
        <SelectedTemplate Context="course">
            @course.Name (@course.CourseCode)
        </SelectedTemplate>
        <ResultTemplate Context="course">
            @course.Name (@course.CourseCode)
        </ResultTemplate>
    </BlazoredTypeahead>

    @if (processing)
    {
        <div class="spinner"></div>
    }
    else
    {
        <button @onclick="SubmitCourse" type="submit" class="submit-button submit-button-colour submit-button-animation">Remove Course</button>
    }
</div>

@code {

    private Course SelectedCourse;
    private IEnumerable<Course> Courses;
    private bool processing;

    protected override async Task OnInitializedAsync()
    {
        SelectedCourse = new Course();
        Courses = await CourseService.GetAllCoursesAsync();
        processing = false;
    }

    private async Task SubmitCourse()
    {
        processing = true;
        if (await CourseService.DoesCourseExist(SelectedCourse.CourseCode))
        {
            await CourseService.RemoveCourseAsync(SelectedCourse);
            ToastService.ShowToast(ToastLevel.Success, $"{SelectedCourse.CourseCode} has been removed from the database");
        }
        else
        {
            ToastService.ShowToast(ToastLevel.Error, "Something went wrong");
        }
        processing = false;
    }

    private async Task<IEnumerable<Course>> SearchCourses(string search)
    {
        return await Task.FromResult(Courses.Where(x => x.CourseCode.ToLower().Contains(search.ToLower()) || x.Name.ToLower().Contains(search.ToLower())).OrderBy(x => x.CourseCode).ToList());//Finds courses based on if they contain the string in their name or course code.
    }
}
