@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss 
{
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

.login-box-ui
{
    font-weight: bold;
}

.heading-for-landing
{
    text-align: center;
}

div.form-alignment-left
{
    position: relative;
    padding-bottom: 2em;
    padding-top: 2em;
}

div.form-alignment-right
{
    position: absolute;
    right: 0.75em;
    display: block;
    width: 500px;
    height: 200px;
    margin-bottom: 5em;
}

div.additional-information
{
    position: relative;
    display: block;
    padding-top: 100px;
}

div.login-center
{
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

div.form-alignment-left-search 
{
    position: relative;
    width: 80%;
}

div.form-alignment-left-sem 
{
    position: relative;
    display: block;
    align-items: start;
    margin-bottom: 5em;
}

div.center-button 
{
    text-align: center;
    margin: auto;
    padding: 2em;
}
select.degree-selection 
{
    height: 2em;
    width: 10em;
    border: 1px solid #26b050;
}

select.semester-selection 
{
    height: 2em;
    width: 20em;
    border: 1px solid #26b050;
}

section.admin-login
{
    display: none;
}

button.button-for-admin
{
    border: 3px solid #26b050;
    text-align: center;
    margin: auto;
    height: 20%;
    width: 30%;
}